<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/eventmanagement</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <mapping resource="com/pojo/Addevent.hbm.xml"/>
        <mapping resource="com/pojo/Colntactus.hbm.xml"/>
        <mapping resource="com/pojo/Feedback.hbm.xml"/>
        <mapping resource="com/pojo/Role.hbm.xml"/>
        <mapping resource="com/pojo/Registration.hbm.xml"/>
        <mapping resource="com/pojo/Booking.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
